// Primary Colors
$yot-orange:hsl(26, 100%, 55%);
$yot-pale-orange:hsl(25, 100%, 94%);

//Neutral Colors
$yot-very-vark-blue:hsl(220, 13%, 13%);
$yot-dark-grayish-blue:hsl(219, 9%, 45%);
$yot-grayish-blue:hsl(220, 14%, 75%);
$yot-light-grayish-blue:hsl(223, 64%, 98%);
$yot-white:hsl(0, 0%, 100%);
$yot-black:hsl(0, 0%, 0%);

// Fonts
$yot-font-t:0.625rem; //10px
$yot-font-xsm:0.75rem; // 12px
$yot-font-sm:0.875rem; // 14px
$yot-font-m:1rem; // 16px
$yot-font-l:1.125rem; // 18px
$yot-font-xl:1.25rem; // 20px