// ======================================== //
//              margin Top                  //
// ======================================== //
.yot-margin-t-0 {
    margin-top: 0rem; // 0px
}

.yot-margin-t-4{ // 4px
    margin-top: 0.25rem;
}

.yot-margin-t-8{ // 8px
    margin-top: 0.5rem;
}

.yot-margin-t-16{ // 16px
    margin-top: 1rem;
}

.yot-margin-t-24{ // 24px
    margin-top: 1.5rem;
}

.yot-margin-t-48{ // 48px
    margin-top: 3rem;
}

// ======================================== //
//              margin Right                //
// ======================================== //
.yot-margin-r-0 {
    margin-right: 0rem; // 0px
}

.yot-margin-r-4{ // 4px
    margin-right: 0.25rem;
}

.yot-margin-r-8{ // 8px
    margin-right: 0.5rem;
}

.yot-margin-r-16{ // 16px
    margin-right: 1rem;
}

.yot-margin-r-24{ // 24px
    margin-right: 1.5rem;
}

.yot-margin-r-48{ // 48px
    margin-right: 3rem;
}

// ======================================== //
//              margin Bottom               //
// ======================================== //
.yot-margin-b-0 {
    margin-bottom: 0rem; // 0px
}

.yot-margin-b-4{ // 4px
    margin-bottom: 0.25rem;
}

.yot-margin-b-8{ // 8px
    margin-bottom: 0.5rem;
}

.yot-margin-b-16{ // 16px
    margin-bottom: 1rem;
}

.yot-margin-b-24{ // 24px
    margin-bottom: 1.5rem;
}

.yot-margin-b-48{ // 48px
    margin-bottom: 3rem;
}

// ======================================== //
//              margin Left                 //
// ======================================== //
.yot-margin-l-0 {
    margin-left: 0rem; // 0px
}

.yot-margin-l-4{ // 4px
    margin-left: 0.25rem;
}

.yot-margin-l-8{ // 8px
    margin-left: 0.5rem;
}

.yot-margin-l-16{ // 16px
    margin-left: 1rem;
}

.yot-margin-l-24{ // 24px
    margin-left: 1.5rem;
}

.yot-margin-l-48{ // 48px
    margin-left: 3rem;
}

// ======================================== //
//      margin COMBO TOP - BOTTOM           //
// ======================================== //
.yot-margin-tb-0{ // 0px
    margin: 0rem;
}

.yot-margin-tb-4{ // 4px
    margin: 0.25rem 0rem;
}

.yot-margin-tb-8{ // 8px
    margin: 0.5rem 0rem;
}

.yot-margin-tb-16{ // 16px
    margin: 1rem 0rem;
}

.yot-margin-tb-24{ // 24px
    margin: 1.5rem 0rem;
}

.yot-margin-tb-48{ // 48px
    margin: 3rem 0rem;
}

// ======================================== //
//      margin COMBO LEFT - RIGHT          //
// ======================================== //
.yot-margin-lr-0{ // 0px
    margin: 0rem;
}

.yot-margin-lr-4{ // 4px
    margin: 0rem 0.25rem;
}

.yot-margin-lr-8{ // 8px
    margin: 0rem 0.5rem;
}

.yot-margin-lr-16{ // 16px
    margin: 0rem 1rem;
}

.yot-margin-lr-24{ // 24px
    margin: 0rem 1.5rem;
}

.yot-margin-lr-48{ // 48px
    margin: 0rem 3rem;
}

// ==================================== //
//      margin COMBO All               //
// =================================== //
.yot-margin-a-0{ // 0px
    margin: 0rem;
}

.yot-margin-a-4{ // 4px
    margin: 0.25rem;
}

.yot-margin-a-8{ // 8px
    margin: 0.5rem;
}

.yot-margin-a-16{ // 16px
    margin: 1rem;
}

.yot-margin-a-24{ // 24px
    margin: 1.5rem;
}

.yot-margin-a-48{ // 48px
    margin: 3rem;
}