// ======================================== //
//              Padding Top                  //
// ======================================== //
.yot-padding-t-0 {
    padding-top: 0rem; // 0px
}

.yot-padding-t-4{ // 4px
    padding-top: 0.25rem;
}

.yot-padding-t-8{ // 8px
    padding-top: 0.5rem;
}

.yot-padding-t-16{ // 16px
    padding-top: 1rem;
}

.yot-padding-t-24{ // 24px
    padding-top: 1.5rem;
}

.yot-padding-t-48{ // 48px
    padding-top: 3rem;
}

// ======================================== //
//              padding Right               //
// ======================================== //
.yot-padding-r-0 {
    padding-right: 0rem; // 0px
}

.yot-padding-r-4{ // 4px
    padding-right: 0.25rem;
}

.yot-padding-r-8{ // 8px
    padding-right: 0.5rem;
}

.yot-padding-r-16{ // 16px
    padding-right: 1rem;
}

.yot-padding-r-24{ // 24px
    padding-right: 1.5rem;
}

.yot-padding-r-48{ // 48px
    padding-right: 3rem;
}

// ======================================== //
//              padding Bottom               //
// ======================================== //
.yot-padding-b-0 {
    padding-bottom: 0rem; // 0px
}

.yot-padding-b-4{ // 4px
    padding-bottom: 0.25rem;
}

.yot-padding-b-8{ // 8px
    padding-bottom: 0.5rem;
}

.yot-padding-b-16{ // 16px
    padding-bottom: 1rem;
}

.yot-padding-b-24{ // 24px
    padding-bottom: 1.5rem;
}

.yot-padding-b-48{ // 48px
    padding-bottom: 3rem;
}

// ======================================== //
//              padding Left                 //
// ======================================== //
.yot-padding-l-0 {
    padding-left: 0rem; // 0px
}

.yot-padding-l-4{ // 4px
    padding-left: 0.25rem;
}

.yot-padding-l-8{ // 8px
    padding-left: 0.5rem;
}

.yot-padding-l-16{ // 16px
    padding-left: 1rem;
}

.yot-padding-l-24{ // 24px
    padding-left: 1.5rem;
}

.yot-padding-l-48{ // 48px
    padding-left: 3rem;
}

// ======================================== //
//      padding COMBO TOP - BOTTOM           //
// ======================================== //
.yot-padding-tb-0{ // 0px
    padding: 0rem;
}

.yot-padding-tb-4{ // 4px
    padding: 0.25rem 0rem;
}

.yot-padding-tb-8{ // 8px
    padding: 0.5rem 0rem;
}

.yot-padding-tb-16{ // 16px
    padding: 1rem 0rem;
}

.yot-padding-tb-24{ // 24px
    padding: 1.5rem 0rem;
}

.yot-padding-tb-48{ // 48px
    padding: 3rem 0rem;
}

// ======================================== //
//      padding COMBO LEFT - RIGHT          //
// ======================================== //
.yot-padding-lr-0{ // 0px
    padding: 0rem;
}

.yot-padding-lr-4{ // 4px
    padding: 0rem 0.25rem;
}

.yot-padding-lr-8{ // 8px
    padding: 0rem 0.5rem;
}

.yot-padding-lr-16{ // 16px
    padding: 0rem 1rem;
}

.yot-padding-lr-24{ // 24px
    padding: 0rem 1.5rem;
}

.yot-padding-lr-48{ // 48px
    padding: 0rem 3rem;
}

// ==================================== //
//      padding COMBO All               //
// =================================== //
.yot-padding-a-0{ // 0px
    padding: 0rem;
}

.yot-padding-a-4{ // 4px
    padding: 0.25rem;
}

.yot-padding-a-8{ // 8px
    padding: 0.5rem;
}

.yot-padding-a-16{ // 16px
    padding: 1rem;
}

.yot-padding-a-24{ // 24px
    padding: 1.5rem;
}

.yot-padding-a-48{ // 48px
    padding: 3rem;
}