.yot-btn{
    border:none;
    display:inline-block;
    padding:16px 24px;
    cursor:pointer;
    font-weight: bold;
    background-color:$yot-orange;
    border-radius: 10px;
    width: 100%;
    font-size: $yot-font-sm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    span{
        color: $yot-white;
    }

    img {
        fill: orange;
    }
}
