.yot-text-font-t{
    font-size: $yot-font-t; // 10px
}

.yot-text-font-xsm{
    font-size: $yot-font-xsm; // 10px
}

.yot-text-font-sm{
    font-size: $yot-font-sm; // 12px
}

.yot-text-font-m{
    font-size: $yot-font-m; // 16px
}

.yot-text-font-l{
    font-size: $yot-font-l !important; // 18px
}


